<h1>All Records</h1>

<div>
 {?rows}
  <table width=65%>
   <tr>
    <th>&nbsp;</th>
    <th>Record ID</th>
    <th>Comments</th>
    <th>#</th>
    <th>Task Status</th>
   </tr>
    {#rows}
     <tr>
      <td style="text-align:center;width:1%">
       {?success}
        <span title="Succeeded" style="display:inline-block;background:green;width:12px;">&nbsp;</span>
       {:else}
        <span title="Failed" style="display:inline-block;background:red;width:12px;color:white;font-weight:bold">!</span>
       {/success}
      </td>
      <td style="text-align:center;display:inline"><a href="{baseURL}/record/{name}">{name}</a>
      </td>
      <td style="text-align:left;width:30%">{description}</td>
      <td style="text-align:center;">{ntasks}</td>
      <td width=50%>
       <div width=100%>
        <span title="Succeeded: {pass}%" style="display:inline-block;width:{pass}%;background:green;margin:-3px;">&nbsp;</span>
        <span title="Failed: {fail}%" style="display:inline-block;width:{fail}%;background:red;margin:-3px;">&nbsp;</span>
        <span title="In Progress: {inprogress}%" style="display:inline-block;width:{inprogress}%;background:blue;margin:-3px;">&nbsp;</span>
        <span title="Waiting: {waiting}%" style="display:inline-block;width:{waiting}%;background:gray;margin:-3px;">&nbsp;</span>
       </div>
      </td>
     </tr>
   {/rows}
 </table>
 {:else}
  <h2>There are no records</h2>
 {/rows}
</div>

