<html>
<head>	
 <title>dirt :: {title}</title>
 <link rel="stylesheet" href="{baseURL}/static/css/style.css">
 <link rel="stylesheet" href="{baseURL}/static/css/boxy.css">
 <script src="{baseURL}/static/js/jquery-1.5.2.min.js"></script>
 <script src="{baseURL}/static/js/json2.js"></script>
 <script src="{baseURL}/kanso.js"></script>
 <script src="{baseURL}/static/js/jquery.boxy.js"></script>
</head>

<body class="dashboard" style="width:100%">
 <div id="header">
  <a href="{baseURL}">
  <div id="branding">
   <h1 id="site-name"><img src="{baseURL}/static/images/logo.png">dirt</h1>
  </div>
  </a>
 </div>

 <div style="display:table;width:90%">
  <div style="display:table-row;width:100%">
  <div style="display:table-cell;width:100%" id="content">
   {content|s}
  </div>

  <div style="display:table-cell;align:right;width:20%">
   <div class="box">
   <h3>Legend</h3>
   <table>
    <tr>
     <td><span style="display:block;background:green;width:12px;">&nbsp;</span></td>
     <td>Succeeded</td>
    </tr>
    <tr>
     <td><span style="display:block;background:red;width:12px;">&nbsp;</span></td>
     <td>Failed</td>
    </tr>
    <tr>
     <td><span style="display:block;background:blue;width:12px;">&nbsp;</span></td>
     <td>In Progress</td>
    </tr>
    <tr>
     <td><span style="display:block;background:gray;width:12px;">&nbsp;</span></td>
     <td>Waiting</td>
    </tr>
   </table>
   </div>
  </div>
 </div>

</body>
</html>

