<h1>Record Detail</h1>
<div style="margin:10px;border:solid 1px gray;background:#eeeeee;padding:6px">
 {description}
</div>
<div>
 <table>
  <tr>
   <th>Name</th>
   <th>Slave</th>
   <th>Checked Out</th>
   <th>Completed</th>
   <th>Status</th>
   <th>Results</th>
  </tr>

  {?tasks}
   {#tasks}
   <tr>
    <td style="text-align:center;"><a href="{baseURL}/task/{name}?key=&#34;{name}&#34;">{name}</a></td>
    <td style="text-align:center;">{slave_id}</td>
    <td style="text-align:center;">{checked_out}</td>
    <td style="text-align:center;">{completed}</td>
    <td style="text-align:center;">
     <center>
     {#completed}
      {#success}
       <span title="Succeeded" style="display:block;background:green;width:12px;">&nbsp;</span>
      {:else}
       <span title="Failed" style="display:block;background:red;width:12px;">&nbsp;</span>
      {/success}
     {:else}
      {#checked_out}
      <span title="In Progress" style="display:block;background:blue;width:12px;">&nbsp;</span>
      {:else}
       {#created}
        <span title="Waiting" style="display:block;background:gray;width:12px;">&nbsp;</span>
       {/created}
      {/checked_out}
     {/completed}
     </center>
    </td>
    <td>
{!
     % if task['completed']:
      % if task['task_type'] == 'rattest':
       <a href="results.html">Summary</a>, <a href="#">Files</a>
      % endif
     % endif
!}
    </td>
   </tr>
   {/tasks}
  {/tasks}

  </table>
 </div>
</div>
</div>

