<div>
 <div class="box" style="display:table;">
  <div style="display:table-row">
   <div style="display:table-cell;padding-right:15px;font-size:large;vertical-align:middle">
    {#pass}
     {#inprogress}
      <span style="color:black;font-weight:normal;padding:3px;background:#ddd;border:solid 1px black">In Progress</span>
     {:else}
      <span style="color:black;font-weight:normal;padding:3px;background:#90ee90;border:solid 1px black">Passed</span>
     {/inprogress}
    {:else}
     <span style="font-weight:normal;padding:3px;background:pink;border:solid 1px black">Failed</span>
    {/pass}
   </div>
   <div style="display:table-cell">
    <h1 style="color:black;">{title}</h1>
   </div>
  </div>
 </div>

 <div class="box" style="width:65%">
  {description}
 </div>
 <table width=65% style="text-align:center;">
  <tr>
   <th style="text-align:center;">Name</th>
   <th style="text-align:center;">Slave</th>
   <th style="text-align:center;">Checked Out</th>
   <th style="text-align:center;">Completed</th>
   <th style="text-align:center;">Status</th>
   <th style="text-align:center;">Results</th>
  </tr>
  {?tasks}
   {#tasks record_id=_id}
   <tr>
    <td><a href="{baseURL}/task/{name}">{name}</a></td>
    <td>{slave}</td>
    <td>{checked_out}</td>
    <td>{completed}</td>
    <td>
     <center>
     {#completed}
      {#results}
       {?success}
        <span title="Succeeded" style="display:block;background:green;width:12px;">&nbsp;</span>
       {:else}
        <span title="Failed" style="display:block;background:red;width:12px;">&nbsp;</span>
       {/success}
      {/results}
     {:else}
      {#checked_out}
      <span title="In Progress" style="display:block;background:blue;width:12px;">&nbsp;</span>
      {:else}
       {#created}
        <span title="Waiting" style="display:block;background:gray;width:12px;">&nbsp;</span>
       {/created}
      {/checked_out}
     {/completed}
     </center>
    </td>
    <td>
     {#completed}
      {#attachments}
       <a href="#" onClick="window.location='../../../../{record_id}/{id}'">{name}</a><br/>
      {/attachments}
     {/completed}
    </td>
   </tr>
   {/tasks}
  {/tasks}
</table>
<br/><span style="font-size:7pt">Document ID: <a href="#" onClick="window.location='http://localhost:5984/_utils/document.html?dirt-kanso/{_id}'">{_id}</span> 
</div>

