<h1>Task Detail</h1>
<div>
 <table>
  <tr>
   <th>Record</th>
   <th>Created</th>
   <th>Slave</th>
   <th>Checked Out</th>
   <th>Completed</th>
   <th>Status</th>
   <th>Results</th>
  </tr>
   {?rows}
   {#rows}

   <tr>
    <td style="text-align:center;"><a href="{baseURL}/record/{value.record_id}">{value.record_title}</a></td>
    <td style="text-align:center;">{created}</td>
    <td style="text-align:center;">{slave_id}</td>
    <td style="text-align:center;">{checked_out}</td>
    <td style="text-align:center;">{completed}</td>
    <td style="text-align:center;">
     <center>


     {#completed}
      {#success}
       <span title="Succeeded" style="display:block;background:green;width:12px;">&nbsp;</span>
      {:else}
       <span title="Failed" style="display:block;background:red;width:12px;">&nbsp;</span>
      {/success}
     {:else}
      {#checked_out}
      <span title="In Progress" style="display:block;background:blue;width:12px;">&nbsp;</span>
      {:else}
       {#created}
        <span title="Waiting" style="display:block;background:gray;width:12px;">&nbsp;</span>
       {/created}
      {/checked_out}
     {/completed}

     </center>
    </td>
    <td>
{!
     {#completed}
      {#task_type === 'rattest'}
       <a href="#">Summary</a>, <a href="#">Files</a>
      {/task_type}
     {/completed}
!}
    </td>
   </tr>
   {/rows}
   </table>
   {:else}
   </table>
   <h2>There are no tasks</h2>
   {/rows}
 </div>
</div>
</div>

